.container {
    /* display: flex; */
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 15px;
    padding-top: 5vh;

    margin: 30px;
    margin-top: 100px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 5px 5px 10px #059E8F;

    position: fixed;
    top: 0;
    height: 90%;
}

.sidebar ul {}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li h5 {
    margin: 5px;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* margin: 0 auto; */
    margin-left: 17vw;
    margin-top: 100px;
    height: 100vh;
    /* padding: 15px; */
    /* padding-top: 15px; */
}