.container {
    /* padding: 0 2rem; */

}



.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin {
    padding: 7% 15%;
    border-radius: 2px;
    background-color: white;
    box-shadow: 5px 5px 10px #059E8F;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 5px;
    font-weight: 600;

}

.input:focus {
    text-decoration: none;
}